@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-b from-purple-950 to-gray-950 min-h-screen;
}
/* Для вебкит-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* ширина полосы прокрутки */
}

::-webkit-scrollbar-track {
    background: gray; /* цвет фона полосы прокрутки */
}

::-webkit-scrollbar-thumb {
    background: deeppink; /* цвет полосы прокрутки */
}

/* Для остальных браузеров */
scrollbar {
    width: 10px; /* ширина полосы прокрутки */
}

scrollbar-track {
    background: #f1f1f1; /* цвет фона полосы прокрутки */
}

scrollbar-thumb {
    background: #888; /* цвет полосы прокрутки */
}
